apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-usuarios
  namespace: StudioBarber
  labels:
    app: usuarios-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: usuarios-service
  template:
    metadata:
      labels:
        app: usuarios-service
    spec:
      containers:
        - name: usuarios-service
          # nombre local de la imagen -> usuarios-service-local:latest (igual siempre)
          image: us-central1-docker.pkg.dev/studiobarber-480215/repo-usuarios/usuarios-service:v1.0.0
          imagePullPolicy: Always  # nos aseguramos que siempre use la ultima version de la imagen
          ports:
            - containerPort: 8082
              protocol: TCP

# cambios en el codigo = nueva imagen = nueva version vX.0.0
# pasos para subir a Artifact Registry
# 1. docker build -t usuarios-service-local:latest . -> contruir imagen local
# 2. docker tag usuarios-service-local:latest us-central1-docker.pkg.dev/studiobarber-480215/repo-usuarios/usuarios-service:v1.0.1 -> tag para subir a AR
# 3. docker push us-central1-docker.pkg.dev/studiobarber-480215/repo-usuarios/usuarios-service:v1.0.0 -> subir imagen